@font-face {
  font-family: 'ladb_lexacut';
  src: url('../fonts/ladb_lexacut.woff?wp1a82') format('woff');
  font-weight: normal;
  font-style: normal;
}

i, span.ladb-lexacut-icon:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ladb_lexacut' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ladb-lexacut-icon-lg:before {
  font-size: 150%;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}

.ladb-lexacut-icon-xl:before {
  font-size: 250%;
  display: inline-block;
  width: 1.5em;
  text-align: center;
}


.ladb-lexacut-icon-material-type-0:before {
  opacity: 0.3;
}


.ladb-lexacut-icon-bomb:before {
    content: "\e9bd";
}
.ladb-lexacut-icon-stop:before {
    content: "\e9ba";
}
.ladb-lexacut-icon-skip-forward:before {
    content: "\e9bb";
}
.ladb-lexacut-icon-side-fold:before {
    content: "\e9b9";
}
.ladb-lexacut-icon-qr-code:before {
    content: "\e9b1";
}
.ladb-lexacut-icon-align-left:before {
    content: "\e98f";
}
.ladb-lexacut-icon-align-center:before {
    content: "\e990";
}
.ladb-lexacut-icon-align-right:before {
    content: "\e991";
}
.ladb-lexacut-icon-news:before {
    content: "\e925";
}
.ladb-lexacut-icon-news-fill:before {
    content: "\e9bc";
}
.ladb-lexacut-icon-circle-checked:before {
    content: "\e9b5";
}
.ladb-lexacut-icon-circle:before {
    content: "\e9b6";
}
.ladb-lexacut-icon-target:before {
    content: "\e9b0";
}
.ladb-lexacut-icon-raw-estimated-0:before {
    content: "\e9ab";
}
.ladb-lexacut-icon-raw-estimated-1:before {
    content: "\e9ac";
}
.ladb-lexacut-icon-3d:before {
    content: "\e9a9";
}
.ladb-lexacut-icon-2d:before {
    content: "\e9aa";
}
.ladb-lexacut-icon-fill:before {
    content: "\e9a7";
}
.ladb-lexacut-icon-stroke:before {
    content: "\e9a8";
}
.ladb-lexacut-icon-folder:before {
    content: "\e9a6";
}
.ladb-lexacut-icon-explode:before {
    content: "\e99d";
}
.ladb-lexacut-icon-zoom-auto:before {
    content: "\e99e";
}
.ladb-lexacut-icon-view-back:before {
    content: "\e99f";
}
.ladb-lexacut-icon-view-front:before {
    content: "\e99c";
}
.ladb-lexacut-icon-view-isometric:before {
    content: "\e999";
}
.ladb-lexacut-icon-copy:before {
    content: "\e993";
}
.ladb-lexacut-icon-eraser:before {
    content: "\e992";
}
.ladb-lexacut-icon-variable:before {
    content: "\e98e";
}
.ladb-lexacut-icon-thickness-layers:before {
    content: "\e98a";
}
.ladb-lexacut-icon-bug:before {
    content: "\e988";
}
.ladb-lexacut-icon-preset:before {
    content: "\e983";
}
.ladb-lexacut-icon-labels:before {
    content: "\e900";
}
.ladb-lexacut-icon-labels-selection:before {
    content: "\e901";
}
.ladb-lexacut-icon-labels-offset:before {
    content: "\e989";
}
.ladb-lexacut-icon-anchor-start:before {
    content: "\e904";
}
.ladb-lexacut-icon-anchor-middle:before {
    content: "\e903";
}
.ladb-lexacut-icon-anchor-end:before {
    content: "\e902";
}
.ladb-lexacut-icon-anchor-start-top:before {
    content: "\e98b";
}
.ladb-lexacut-icon-anchor-middle-top:before {
    content: "\e98c";
}
.ladb-lexacut-icon-anchor-end-top:before {
    content: "\e98d";
}
.ladb-lexacut-icon-reset:before {
    content: "\e905";
}
.ladb-lexacut-icon-snippets:before {
    content: "\e9a0";
}
.ladb-lexacut-icon-formula:before {
    content: "\e906";
}
.ladb-lexacut-icon-comment:before {
    content: "\e907";
}
.ladb-lexacut-icon-send:before {
    content: "\e908";
}
.ladb-lexacut-icon-play:before {
    content: "\e909";
}
.ladb-lexacut-icon-clear:before {
    content: "\e90a";
}
.ladb-lexacut-icon-size-increase:before {
    content: "\e90b";
}
.ladb-lexacut-icon-obsolete:before {
    content: "\e90c";
}
.ladb-lexacut-icon-sponsor:before {
    content: "\e90e";
}
.ladb-lexacut-icon-multiple:before {
    content: "\e90f";
}
.ladb-lexacut-icon-check-box:before {
    content: "\e910";
}
.ladb-lexacut-icon-check-box-with-check-sign:before {
    content: "\e911";
}
.ladb-lexacut-icon-uncheck-mark:before {
    content: "\e912";
}
.ladb-lexacut-icon-check-mark:before {
    content: "\e913";
}
.ladb-lexacut-icon-reorder:before {
    content: "\e914";
}
.ladb-lexacut-icon-edge-decremented:before {
    content: "\e915";
}
.ladb-lexacut-icon-filter-on:before {
    content: "\e916";
}
.ladb-lexacut-icon-filter-off:before {
    content: "\e917";
}
.ladb-lexacut-icon-origin-front-center:before {
    content: "\e918";
}
.ladb-lexacut-icon-origin-front-min:before {
    content: "\e9a1";
}
.ladb-lexacut-icon-origin-center:before {
    content: "\e919";
}
.ladb-lexacut-icon-origin-min:before {
    content: "\e91a";
}
.ladb-lexacut-icon-drop:before {
    content: "\e91b";
}
.ladb-lexacut-icon-lock:before {
    content: "\e91c";
}
.ladb-lexacut-icon-unlock:before {
    content: "\e91d";
}
.ladb-lexacut-icon-rotate-right:before {
    content: "\e91e";
}
.ladb-lexacut-icon-rotate-left:before {
    content: "\e91f";
}
.ladb-lexacut-icon-texture:before {
    content: "\e920";
}
.ladb-lexacut-icon-review:before {
    content: "\e921";
}
.ladb-lexacut-icon-plan:before {
    content: "\e922";
}
.ladb-lexacut-icon-extension:before {
    content: "\e923";
}
.ladb-lexacut-icon-tutorials:before {
    content: "\e924";
}
.ladb-lexacut-icon-forum:before {
    content: "\e926";
}
.ladb-lexacut-icon-submenu:before {
    content: "\e927";
}
.ladb-lexacut-icon-more:before {
    content: "\e928";
}
.ladb-lexacut-icon-height:before {
    content: "\e929";
}
.ladb-lexacut-icon-width:before {
    content: "\e92a";
}
.ladb-lexacut-icon-saw:before {
    content: "\e92b";
}
.ladb-lexacut-icon-vertical-cut-left:before {
    content: "\e92c";
}
.ladb-lexacut-icon-vertical-cut-right:before {
    content: "\e987";
}
.ladb-lexacut-icon-horizontal-cut-top:before {
    content: "\e92d";
}
.ladb-lexacut-icon-horizontal-cut-bottom:before {
    content: "\e92e";
}
.ladb-lexacut-icon-grained-0:before {
    content: "\e92f";
}
.ladb-lexacut-icon-grained-1:before {
    content: "\e930";
}
.ladb-lexacut-icon-instance-count-by-part:before {
    content: "\e985";
}
.ladb-lexacut-icon-missing-instance-count:before {
    content: "\e986";
}
.ladb-lexacut-icon-multiple-layers:before {
    content: "\e931";
}
.ladb-lexacut-icon-flipped:before {
    content: "\e932";
}
.ladb-lexacut-icon-symmetrical:before {
    content: "\e984";
}
.ladb-lexacut-icon-resized:before {
    content: "\e933";
}
.ladb-lexacut-icon-export:before {
    content: "\e935";
}
.ladb-lexacut-icon-import:before {
    content: "\e934";
}
.ladb-lexacut-icon-numbers-reset:before {
    content: "\e936";
}
.ladb-lexacut-icon-numbers-save:before {
    content: "\e937";
}
.ladb-lexacut-icon-axes:before {
    content: "\e938";
}
.ladb-lexacut-icon-auto-oriented:before {
    content: "\e939";
}
.ladb-lexacut-icon-not-aligned-on-axes:before {
    content: "\e93a";
}
.ladb-lexacut-icon-orientation-locked-on-axis:before {
    content: "\e93b";
}
.ladb-lexacut-icon-trash:before {
    content: "\e93c";
}
.ladb-lexacut-icon-sort-asc:before {
    content: "\e93d";
}
.ladb-lexacut-icon-sort-desc:before {
    content: "\e93e";
}
.ladb-lexacut-icon-sort-col:before {
    content: "\e93f";
}
.ladb-lexacut-icon-material-origin-1:before {
    content: "\e940";
}
.ladb-lexacut-icon-material-origin-3:before {
    content: "\e941";
}
.ladb-lexacut-icon-material-origin-2:before {
    content: "\e942";
}
.ladb-lexacut-icon-layout:before {
    content: "\e99a";
}
.ladb-lexacut-icon-layout-selection:before {
    content: "\e99b";
}
.ladb-lexacut-icon-cursor:before {
    content: "\e9a5";
}
.ladb-lexacut-icon-edit:before {
    content: "\e943";
}
.ladb-lexacut-icon-edit-multiple:before {
    content: "\e944";
}
.ladb-lexacut-icon-magnifier:before {
    content: "\e945";
}
.ladb-lexacut-icon-magnifier-multiple:before {
    content: "\e946";
}
.ladb-lexacut-icon-arrow-circle-down:before {
    content: "\e947";
}
.ladb-lexacut-icon-arrow-circle-up:before {
    content: "\e948";
}
.ladb-lexacut-icon-settings:before {
    content: "\e949";
}
.ladb-lexacut-icon-warning:before {
    content: "\e94a";
}
.ladb-lexacut-icon-info:before {
    content: "\e94b";
}
.ladb-lexacut-icon-help:before {
    content: "\e94c";
}
.ladb-lexacut-icon-print:before {
    content: "\e94d";
}
.ladb-lexacut-icon-cutlist:before {
    content: "\e94e";
}
.ladb-lexacut-icon-outliner:before {
    content: "\e9a2";
}
.ladb-lexacut-icon-mini-logo-ladb:before {
    content: "\e951";
}
.ladb-lexacut-icon-material-type-3:before {
    content: "\e94f";
}
.ladb-lexacut-icon-material-type-5:before {
    content: "\e950";
}
.ladb-lexacut-icon-eye-close-multiple:before {
    content: "\e9b7";
}
.ladb-lexacut-icon-eye-open-multiple:before {
    content: "\e9b8";
}
.ladb-lexacut-icon-zzz:before {
    content: "\e952";
}
.ladb-lexacut-icon-update:before {
    content: "\e953";
}
.ladb-lexacut-icon-cuttingdiagram1d:before {
    content: "\e954";
}
.ladb-lexacut-icon-cuttingdiagram1d-selection:before {
    content: "\e955";
}
.ladb-lexacut-icon-cuttingdiagram2d:before {
    content: "\e956";
}
.ladb-lexacut-icon-cuttingdiagram2d-selection:before {
    content: "\e957";
}
.ladb-lexacut-icon-packing-rectangle:before {
    content: "\e9b2";
}
.ladb-lexacut-icon-packing-rectangle-selection:before {
    content: "\e9b3";
}
.ladb-lexacut-icon-packing-irregular:before {
    content: "\e9ad";
}
.ladb-lexacut-icon-packing-selection:before {
    content: "\e9ae";
}
.ladb-lexacut-icon-asterisk:before {
    content: "\e958";
}
.ladb-lexacut-icon-face-11:before {
    content: "\e995";
}
.ladb-lexacut-icon-face-01:before {
    content: "\e996";
}
.ladb-lexacut-icon-face-10:before {
    content: "\e997";
}
.ladb-lexacut-icon-face-00:before {
    content: "\e998";
}
.ladb-lexacut-icon-edge-1111:before {
    content: "\e959";
}
.ladb-lexacut-icon-edge-1010:before {
    content: "\e95a";
}
.ladb-lexacut-icon-edge-0101:before {
    content: "\e95b";
}
.ladb-lexacut-icon-edge-1110:before {
    content: "\e95c";
}
.ladb-lexacut-icon-edge-1101:before {
    content: "\e95d";
}
.ladb-lexacut-icon-edge-1011:before {
    content: "\e95e";
}
.ladb-lexacut-icon-edge-0111:before {
    content: "\e95f";
}
.ladb-lexacut-icon-edge-1001:before {
    content: "\e960";
}
.ladb-lexacut-icon-edge-0011:before {
    content: "\e961";
}
.ladb-lexacut-icon-edge-0110:before {
    content: "\e962";
}
.ladb-lexacut-icon-edge-1100:before {
    content: "\e963";
}
.ladb-lexacut-icon-edge-0001:before {
    content: "\e964";
}
.ladb-lexacut-icon-edge-0010:before {
    content: "\e965";
}
.ladb-lexacut-icon-edge-0100:before {
    content: "\e966";
}
.ladb-lexacut-icon-edge-1000:before {
    content: "\e967";
}
.ladb-lexacut-icon-edge-0000:before {
    content: "\e968";
}
.ladb-lexacut-icon-group:before {
    content: "\e9a3";
}
.ladb-lexacut-icon-component:before {
    content: "\e9a4";
}
.ladb-lexacut-icon-dynamic-component:before {
    content: "\e969";
}
.ladb-lexacut-icon-dimensions-help:before {
    content: "\e96a";
}
.ladb-lexacut-icon-layer:before {
    content: "\e96b";
}
.ladb-lexacut-icon-tag:before {
    content: "\e9af";
}
.ladb-lexacut-icon-minus:before {
    content: "\e96c";
}
.ladb-lexacut-icon-plus:before {
    content: "\e96d";
}
.ladb-lexacut-icon-size-length-width:before {
    content: "\e96e";
}
.ladb-lexacut-icon-size-length:before {
    content: "\e90d";
}
.ladb-lexacut-icon-size-width:before {
    content: "\e9b4";
}
.ladb-lexacut-icon-close:before {
    content: "\e96f";
}
.ladb-lexacut-icon-save:before {
    content: "\e970";
}
.ladb-lexacut-icon-refresh:before {
    content: "\e971";
}
.ladb-lexacut-icon-tick:before {
    content: "\e972";
}
.ladb-lexacut-icon-link:before {
    content: "\e973";
}
.ladb-lexacut-icon-eye-close:before {
    content: "\e974";
}
.ladb-lexacut-icon-eye-open:before {
    content: "\e975";
}
.ladb-lexacut-icon-tip:before {
    content: "\e976";
}
.ladb-lexacut-icon-estimate:before {
    content: "\e977";
}
.ladb-lexacut-icon-material-type-1:before {
    content: "\e979";
}
.ladb-lexacut-icon-material-type-4:before {
    content: "\e978";
}
.ladb-lexacut-icon-material-type-0:before {
    content: "\e980";
}
.ladb-lexacut-icon-material-type-2:before {
    content: "\e97a";
}
.ladb-lexacut-icon-material-type-6:before {
    content: "\e994";
}
.ladb-lexacut-icon-arrow-right:before {
    content: "\e97b";
}
.ladb-lexacut-icon-arrow-left:before {
    content: "\e97c";
}
.ladb-lexacut-icon-arrow-down:before {
    content: "\e97d";
}
.ladb-lexacut-icon-arrow-up:before {
    content: "\e97e";
}
.ladb-lexacut-icon-materials:before {
    content: "\e97f";
}
.ladb-lexacut-icon-chevron-right:before {
    content: "\e981";
}
.ladb-lexacut-icon-chevron-left:before {
    content: "\e982";
}
